@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> locOptions
@{ 
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
    var cultureList = locOptions.Value.SupportedUICultures.Select(x => new SelectListItem { Value = x.Name, Text = localizer.GetString(x.Name) }).ToList();
    var returnUrl = string.IsNullOrWhiteSpace(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}

<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8" http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!--=============== Facebook meta tags  ===============-->
    <meta property="fb:app_id" content="449245312768740" />
    <meta name="google-site-verification" content="PQRkriSlujT0xLzry5OFdQN_gN_EEcq2vWtwlDx2JZs" />
    <meta name="google-signin-client_id" content="@Configuration["AppSetting:GoogleClientID"]">
    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="@Configuration["AppSetting:HostURL"]">
    <meta property="og:title" content="@ViewData["Title"] | KXGE">
    @RenderSection("meta", required: false)
    @if (!IsSectionDefined("meta"))
    {
        <meta property="og:url" content="@Configuration["AppSetting:HostURL"]" />
        <meta property="og:description" content="Úi xồi quả blog chill nhất Vịnh Bắc Bộ là đây chứ đâu!?" />
        <meta name="description" content="Úi xồi quả blog chill nhất Vịnh Bắc Bộ là đây chứ đâu!?" />
        <meta property="og:image" content="/imgs/news/thumb-10.jpg" />
    }
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta property="og:image:width" content="1620">
    <meta property="og:image:height" content="983">
    <meta name="author" content="Lê Võ Thành Tâm" />

    <title>@ViewData["Title"] | KXGE</title>

    <!--=============== css  ===============-->
    <link type="text/css" rel="stylesheet" href="~/css/reset.css">
    <link type="text/css" rel="stylesheet" href="~/css/plugins.css">
    <link type="text/css" rel="stylesheet" href="~/css/style.css">
    <link type="text/css" rel="stylesheet" href="~/css/color.css">

    <!--=============== favicons ===============-->
    <link rel="shortcut icon" href="~/images/favicon.ico">
</head>
<body>
    <!--loader-->
    <div class="loader-wrap">
        <div class="pin"></div>
    </div>
    <!--loader end-->
    <div id="main">
        <!-- header-->
        <header class="main-header">
            <a class="logo-holder" href="/">
                <img src="~/images/logo.png" alt="">
            </a>
            <!-- nav-button-wrap-->
            <div class="nav-button but-hol">
                <span class="nos"></span>
                <span class="ncs"></span>
                <span class="nbs"></span>
                <div class="menu-button-text">@localizer["Menu"]</div>
            </div>
            <!-- nav-button-wrap end-->
            <div class="header-social">
                <ul>
                    <li><a href="@Configuration["AppSetting:Social:Facebook"]" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="@Configuration["AppSetting:Social:Instagram"]" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="@Configuration["AppSetting:Social:Twitter"]" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="@Configuration["AppSetting:Social:Pinterest"]" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
                </ul>
            </div>
            <!--  showshare -->
            <div class="show-share showshare">
                <i class="fal fa-retweet"></i>
                <span>@localizer["ShareThis"]</span>
            </div>
            <!--  showshare end -->
        </header>
        <!--  header end -->
        <!--  navigation bar -->
        <div class="nav-overlay">
            <div class="tooltip color-bg">Close Menu</div>
        </div>
        <div class="nav-holder">
            <a class="header-logo" href="/"><img src="~/images/logo2.png" alt=""></a>
            <div class="nav-title"><span>Menu</span></div>
            <div class="nav-inner-wrap">
                <nav class="nav-inner sound-nav" id="menu">
                    <ul>
                        <li><a href="/" class="act-link">Home</a></li>
                        <li><a href="/music">Music</a></li>
                        <li><a href="/project">Project</a></li>
                        <li><a href="/showcase">Showcase</a></li>
                        <li><a href="/service">Service</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/team">Our team</a></li>
                        <li><a href="/blog">Blog</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <!--  navigation bar end -->
        <!-- wrapper -->
        <div id="wrapper">

            @RenderBody()

            <!-- footer-->
            <div class="height-emulator fl-wrap"></div>
            <footer class="main-footer fixed-footer">
                <!--footer-inner-->
                <div class="footer-inner fl-wrap">
                    <div class="container">
                        <div class="partcile-dec" data-parcount="90"></div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="footer-title fl-wrap">
                                    <span>Solonick</span>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="footer-header fl-wrap"><span>01.</span>Last Twitts</div>
                                <div class="footer-box fl-wrap">
                                    <div class="twitter-swiper-container fl-wrap" id="twitts-container"></div>
                                    <a href="#" class="btn float-btn trsp-btn">Follow</a>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="footer-header fl-wrap"><span>02.</span> Subscribe / Contacts</div>
                                <!-- footer-box-->
                                <div class="footer-box fl-wrap">
                                    <p>Want to be notified when we launch a new template or an udpate. Just sign up and we'll send you a notification by email.</p>
                                    <div class="subcribe-form fl-wrap">
                                        <form id="subscribe" class="fl-wrap">
                                            <input class="enteremail" name="email" id="subscribe-email" placeholder="Email" spellcheck="false" type="text">
                                            <button type="submit" id="subscribe-button" class="subscribe-button"><i class="fal fa-paper-plane"></i> Send </button>
                                            <label for="subscribe-email" class="subscribe-message"></label>
                                        </form>
                                    </div>
                                    <!-- footer-contacts-->
                                    <div class="footer-contacts fl-wrap">
                                        <ul>
                                            <li><i class="fal fa-phone"></i><span>Phone :</span><a href="#">@Configuration["AppSetting:Contact:Phone"]</a></li>
                                            <li><i class="fal fa-envelope"></i><span>Email :</span><a href="#">@Configuration["AppSetting:Contact:Email"]</a></li>
                                            <li><i class="fal fa-map-marker"></i><span>Address :</span><a href="#">@Configuration["AppSetting:Contact:Address"]</a></li>
                                        </ul>
                                    </div>
                                    <!-- footer end -->
                                    <!-- footer-socilal -->
                                    <div class="footer-socilal fl-wrap">
                                        <ul>
                                            <li><a href="@Configuration["AppSetting:Social:Facebook"]" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="@Configuration["AppSetting:Social:Instagram"]" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                            <li><a href="@Configuration["AppSetting:Social:Twitter"]" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="@Configuration["AppSetting:Social:Pinterest"]" target="_blank"><i class="fab fa-pinterest-p"></i></a></li>
                                        </ul>
                                        <ul class="switch-lang">
                                            <li>
                                                <form asp-action="CultureManagement" asp-controller="Home" method="post" asp-route-returnUrl="@returnUrl">
                                                    <select name="culture" asp-for="@culture.RequestCulture.UICulture.Name" asp-items="@cultureList" data-placeholder="0" class="chosen-select" onchange="this.form.submit()"></select>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- footer-socilal end -->
                                </div>
                                <!-- footer-box end-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--footer-inne endr-->
                <!--subfooter-->
                <div class="subfooter fl-wrap">
                    <div class="container">
                        <!-- policy-box-->
                        <div class="policy-box">
                            <span>&#169; Solonick @DateTime.Now.Year  /  All rights reserved. </span>
                        </div>
                        <!-- policy-box end-->
                        <a href="#" class="to-top color-bg"><i class="fal fa-angle-up"></i><span></span></a>
                    </div>
                </div>
                <!--subfooter end-->
            </footer>
            <!-- footer end-->
            <!-- contact-btn -->
            <a class="contact-btn color-bg" href="/contact"><i class="fal fa-envelope"></i><span>Get in Touch</span></a>
            <!-- contact-btn end -->
        </div>
        <!-- wrapper end -->
        <!-- share-wrapper -->
        <div class="share-wrapper isShare">
            <div class="share-title"><span>Share</span></div>
            <div class="close-share soa"><span>Close</span><i class="fal fa-times"></i></div>
            <div class="share-inner soa">
                <div class="share-container"></div>
            </div>
        </div>
        <!-- share-wrapper end -->
    </div>
    <!--=============== scripts  ===============-->
    <script type="text/javascript" src="~/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/plugins.js"></script>
    <script type="text/javascript" src="~/js/scripts.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
