@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@using Microsoft.AspNetCore.Http.Extensions

@model Stories.VM.HomePageViewModel

@{
    var t = Model.Type;
    var s = Model.String;
    var m = Model.MaxPage;
    var c = ViewBag.page;
    ViewData["Title"] = t == 1 ? "Search Results for " + '"' + s + '"'
                      : t == 2 ? s
                      : t == 3 ? "#" + s
                      : "Blog";
    string path = Context.Request.GetEncodedPathAndQuery();

    var url = "/blog" + (t == 1 ? "?search_key=" + s + "&page="
                       : t == 2 ? "/cat/" + Model.Posts[0].CategoryId + "?page="
                       : t == 3 ? "/tag/" + s + "?page="
                       : "?page=");
}

<!-- Content-->
<div class="content">
    <!-- section-->
    <section class="parallax-section dark-bg sec-half parallax-sec-half-right" data-scrollax-parent="true">
        <div class="bg par-elem" data-bg="/images/bg/27.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
        <div class="overlay"></div>
        <div class="pattern-bg"></div>
        <div class="container">
            <div class="section-title">
                @if (t == 1)
                {
                    <h2>Search Results for  <br>"<span>@s</span>"</h2>
                }
                else if (t == 2)
                {
                    <h2><span>@s</span></h2>
                }
                else if (t == 3)
                {
                    <h2>#<span>@s</span></h2>
                }
                else
                {
                    <h2>My  <span> Last news </span> and <br>Updates </h2>
                }
                <p> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. </p>
                <div class="horizonral-subtitle"><span>Journal</span></div>
            </div>
            <a href="#sec1" class="custom-scroll-link hero-start-link"><span>Let's Start</span> <i class="fal fa-long-arrow-down"></i></a>
        </div>
    </section>
    <!-- section end-->
    <div class="single-page-decor"></div>
    <!-- single-page-fixed-row-->
    <div class="single-page-fixed-row blog-single-page-fixed-row">
        <div class="scroll-down-wrap">
            <div class="mousey">
                <div class="scroller"></div>
            </div>
            <span>Scroll Down</span>
        </div>
        <!-- filter  -->
        <div class="blog-filters">
            <span>Filter by: </span>
            <!-- filter tag   -->
            <div class="tag-filter blog-btn-filter">
                <div class="blog-btn">Tags <i class="fa fa-tags" aria-hidden="true"></i></div>
                <ul>
                    @foreach (var tag in Model.Tags.Take(5))
                    {
                        <li><a href="/blog/tag/@tag">@tag</a></li>
                    }
                </ul>
            </div>
            <!-- filter tag end  -->
            <!-- filter category    -->
            <div class="category-filter blog-btn-filter">
                <div class="blog-btn">Categories <i class="fa fa-list-ul" aria-hidden="true"></i></div>
                <ul>
                    @foreach (var cat in Model.Categories)
                    {
                        <li><a href="/blog/cat/@cat.Id">@cat.Name</a></li>
                    }
                </ul>
            </div>
            <!-- filter category end  -->
            <div class="blog-search">
                <form action="/blog" class="searh-inner fl-wrap">
                    <input name="search_key" id="search_key" type="text" class="search" placeholder="Search..." value="@(t == 1 ? s : "")" />
                    <button class="search-submit color-bg" id="submit_btn"><i class="fa fa-search"></i> </button>
                </form>
            </div>
        </div>
        <!-- filter end    -->
    </div>
    <!-- single-page-fixed-row end-->
    <!-- section -->
    <section data-scrollax-parent="true" id="sec1">
        <div class="section-subtitle left-pos" data-scrollax="properties: { translateY: '-250px' }"><span>//</span>Journal</div>
        <div class="container">
            <!-- blog-container  -->
            <div class="fl-wrap post-container">
                <div class="row">
                    <div class="col-md-8" id="post">
                        @foreach (var post in Model.Posts)
                        {
                            <!-- post -->
                            <div class="post fl-wrap fw-post">
                                <h2><a href="/blog/@post.Link"><span>@post.Title</span></a></h2>
                                <div class="parallax-header"> <a href="#">@post.CreatedDate.ToString("dd MMM yyyy")</a><span>Category : </span><a href="/blog/cat/@post.CategoryId">@post.Category</a></div>
                                <!-- blog media -->
                                <div class="blog-media fl-wrap">
                                    <img src="@post.ImageLink" alt="">
                                </div>
                                <!-- blog media end -->
                                <div class="parallax-header fl-wrap">
                                    <span>Tags : </span>
                                    @foreach (var tag in post.Tags)
                                    {
                                        <a href="/blog/tag/@tag">@tag</a>
                                    }
                                </div>
                                <div class="blog-text fl-wrap">
                                    <div class="clearfix"></div>
                                    <p>
                                        @(post.Content.Length > 460 ? post.Content.Substring(0, 460) + "..." : post.Content)
                                    </p>
                                    <a href="/blog/@post.Link" class="btn float-btn color-btn flat-btn">Read more </a>
                                    <ul class="post-counter">
                                        <li><i class="fa fa-eye"></i><span>@post.Views</span></li>
                                        <li><i class="fal fa-comments-alt"></i><span>@post.CommentCount</span></li>
                                    </ul>
                                </div>
                            </div>
                            <!-- post end-->
                        }
                    </div>
                    <!-- blog-sidebar  -->
                    <div class="col-md-4">
                        <div class="blog-sidebar fl-wrap fixed-bar">
                            <!-- widget-wrap -->
                            <div class="widget-wrap fl-wrap">
                                <h4 class="widget-title"><span>01.</span> About Author</h4>
                                <div class="widget-container fl-wrap">
                                    <div class="about-widget fl-wrap">
                                        <img src="/images/avatar/7.jpg" alt="">
                                        <h5><a href="#">Martin Solonick</a></h5>
                                        <div class="clearfix"></div>
                                        <p>Etiam in nulla arcu, ut vehicula velit. Vivamus dapibus rutrum mi ut aliquam. In hac habitasse platea dictumst. Integer sagittis neque a tortor tempor in porta sem vulputate.</p>
                                        <div class="about-widget-social fl-wrap">
                                            <span>Find on : </span>
                                            <ul>
                                                <li><a href="#" target="_blank">Facebook</a></li>
                                                <li><a href="#" target="_blank">Instagram</a></li>
                                                <li><a href="#" target="_blank">Twitter</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- widget-wrap end  -->
                            <!-- widget-wrap -->
                            <div class="widget-wrap fl-wrap">
                                <h4 class="widget-title"><span>02.</span> Last Posts</h4>
                                <div class="widget-container fl-wrap">
                                    <div class="widget-posts fl-wrap">
                                        <ul>
                                            @foreach (var lp in Model.LastPosts)
                                            {
                                                <li class="clearfix">
                                                    <a href="#" class="widget-posts-img"><img src="@lp.ImageLink" class="respimg respimg-blog-49" alt=""></a>
                                                    <div class="widget-posts-descr">
                                                        <a href="#" title="">@lp.Title</a>
                                                        <span class="widget-posts-date"> @lp.CreatedDate.ToString("dd MMM yyyy") </span>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- widget-wrap end  -->
                            <!-- widget-wrap -->
                            <div class="widget-wrap fl-wrap">
                                <h4 class="widget-title"><span>03.</span> Tags</h4>
                                <div class="widget-container fl-wrap">
                                    <ul class="tagcloud">
                                        @foreach (var tag in Model.Tags)
                                        {
                                            <li><a href='/blog/tag/@tag' class="transition link">@tag</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <!-- widget-wrap end  -->
                            <!-- widget-wrap -->
                            <div class="widget-wrap fl-wrap">
                                <h4 class="widget-title"><span>04.</span>Our Instagram</h4>
                                <div class="widget-container fl-wrap">
                                    <div class='jr-insta-thumb' id="insta-content" data-instatoken="3980752.1677ed0.62bb6a2ad3ef4dc0a6aad768ab8939ab">
                                    </div>
                                </div>
                            </div>
                            <!-- widget-wrap end  -->
                            <!-- widget-wrap -->
                            <div class="widget-wrap fl-wrap">
                                <h4 class="widget-title"><span>05.</span> Categories</h4>
                                <div class="widget-container fl-wrap">
                                    <ul class="cat-item">
                                        @foreach (var cat in Model.CategoriesNav.OrderByDescending(x => x.PostCount))
                                        {
                                            <li><a href="/blog/cat/@cat.Id">@cat.Name</a> <span>(@cat.PostCount)</span></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <!-- widget-wrap end  -->
                        </div>
                    </div>
                    <!-- blog-sidebar end -->
                    <div class="limit-box fl-wrap"></div>
                </div>
                <!-- content-nav -->
                <div class="content-nav">
                    <ul>
                        <li>
                            @if (c != 1)
                            {
                                <a class="ln" href="@(url + (c - 1))"><i class="fal fa-arrow-left"></i><span class="tooltip">Prev - page @(c - 1)</span></a>
                            }
                        </li>
                        <li>
                            <span class="cur-page"><span>Page @c</span></span>
                        </li>
                        <li>
                            @if (c < m)
                            {
                                <a class="rn" href="@(url + (c + 1))"><i class="fal fa-arrow-right"></i><span class="tooltip">Next - page @(c + 1) </span></a>
                            }
                        </li>
                    </ul>
                </div>
                <!-- content-nav end-->
            </div>
            <!-- blog-container end    -->
        </div>
        <div class="bg-parallax-module" data-position-top="50" data-position-left="20" data-scrollax="properties: { translateY: '-250px' }"></div>
        <div class="bg-parallax-module" data-position-top="40" data-position-left="70" data-scrollax="properties: { translateY: '150px' }"></div>
        <div class="bg-parallax-module" data-position-top="80" data-position-left="80" data-scrollax="properties: { translateY: '350px' }"></div>
        <div class="bg-parallax-module" data-position-top="95" data-position-left="40" data-scrollax="properties: { translateY: '-550px' }"></div>
        <div class="sec-lines"></div>
    </section>
    <!-- section end-->
    <!-- section-->
    <section class="dark-bg2 small-padding order-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>Ready To order Your Project ?</h3>
                </div>
                <div class="col-md-4"><a href="/contact" class="btn flat-btn color-btn">Get In Touch</a> </div>
            </div>
        </div>
    </section>
    <!-- section end-->
</div>
<!-- Content end -->

@section Scripts {
    <style>
        .ln, .rn {
            cursor: pointer;
        }
    </style>
    <script>$("#wrapper").addClass("single-page-wrap"); console.log("@path");</script>
}