@model Stories.VM.BlogSingleViewModel

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content-->
<div class="content">
    <div class="single-page-decor"></div>
    <!-- single-page-fixed-row-->
    <div class="single-page-fixed-row blog-single-page-fixed-row">
        <div class="scroll-down-wrap">
            <div class="mousey">
                <div class="scroller"></div>
            </div>
            <span>Scroll Down</span>
        </div>
        <!-- filter  -->
        <div class="blog-filters">
            <span>Filter by: </span>
            <!-- filter tag   -->
            <div class="tag-filter blog-btn-filter">
                <div class="blog-btn">Tags <i class="fa fa-tags" aria-hidden="true"></i></div>
                <ul>
                    @foreach (var tag in Model.Tags.Take(5))
                    {
                        <li><a href="/blog/tag/@tag">@tag</a></li>
                    }
                </ul>
            </div>
            <!-- filter tag end  -->
            <!-- filter category    -->
            <div class="category-filter blog-btn-filter">
                <div class="blog-btn">Categories <i class="fa fa-list-ul" aria-hidden="true"></i></div>
                <ul>
                    @foreach (var cat in Model.Categories)
                    {
                        <li><a href="/blog/cat/@cat.Id">@cat.Name</a></li>
                    }
                </ul>
            </div>
            <!-- filter category end  -->
            <div class="blog-search">
                <form action="/blog" class="searh-inner fl-wrap">
                    <input name="search_key" id="search_key" type="text" class="search" placeholder="Search..." />
                    <button class="search-submit color-bg" id="submit_btn"><i class="fa fa-search"></i> </button>
                </form>
            </div>
        </div>
        <!-- filter end    -->
    </div>
    <!-- single-page-fixed-row end-->
    <!-- section end-->
    <!-- section -->
    <section data-scrollax-parent="true" id="sec1">
        <div class="section-subtitle left-pos" data-scrollax="properties: { translateY: '-250px' }"><span>//</span>Post title</div>
        <div class="container">
            <!-- blog-container  -->
            <div class="fl-wrap post-container">
                <div class="row">
                    <div class="col-md-8">
                        <!-- post -->
                        <div class="post fl-wrap fw-post">
                            <h2><a href="/blog/@Model.Link"><span>@Model.Title</span></a></h2>
                            <div class="parallax-header"> <a href="#">@Model.CreatedDate.ToString("dd MMM yyyy")</a><span>Category : </span><a href="/blog/cat/@Model.CategoryId">@Model.CategoryName</a></div>
                            <!-- blog media -->
                            <div class="blog-media fl-wrap nomar-bottom" style="margin-bottom: 20px;">
                                <img src="@Model.ImageLink" alt="">
                                @*<div class="single-slider-wrap slider-carousel-wrap ">
                                        <div class="single-slider cur_carousel-slider-container fl-wrap">
                                            <div class="slick-slide-item"><img src="/images/folio/2.jpg" alt=""></div>
                                            <div class="slick-slide-item"><img src="/images/folio/9.jpg" alt=""></div>
                                            <div class="slick-slide-item"><img src="/images/folio/8.jpg" alt=""></div>
                                        </div>
                                        <div class="sp-cont sp-cont-prev"><i class="fal fa-long-arrow-left"></i></div>
                                        <div class="sp-cont sp-cont-next"><i class="fal fa-long-arrow-right"></i></div>
                                    </div>*@
                            </div>
                            <!-- blog media end -->
                            <div class="parallax-header fl-wrap">
                                <span>Tags : </span>
                                @foreach (var t in Model.Tag.Split(" "))
                                {
                                    <a href="/blog/tag/@t">@t</a>
                                }
                            </div>
                            <div class="blog-text fl-wrap">
                                <div class="clearfix"></div>
                                <h3><a href="blog-single.html">Aliquip pertinax <strong>vix ad </strong></a></h3>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sem sed quam tempus aliquet vitae eget dolor. Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.
                                    Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.
                                </p>
                                <blockquote>
                                    <p> Cras lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus.Cras lacinia magna vel molestie faucibus. Donec auctor et urnaLorem ipsum dolor sit amet, consectetur adipiscing elit. Cras lacinia magna vel molestie faucibus.Cras lacinia magna vel molestie faucibus.   </p>
                                </blockquote>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare sem sed quam tempus aliquet vitae eget dolor. Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.
                                    Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.
                                </p>
                                <p>
                                    Quisque varius eros ac purus dignissim.
                                    Proin eu ultrices libero. Curabitur vulputate vestibulum elementum. Suspendisse id neque a nibh mollis blandit. Quisque varius eros ac purus dignissim.
                                </p>
                                <ul class="post-counter single-post-counter">
                                    <li><i class="fa fa-eye"></i><span>@Model.Views</span></li>
                                    <li><i class="fal fa-comments-alt"></i><span>@Model.Comments.Count()</span></li>
                                </ul>
                            </div>
                        </div>
                        <!-- post end-->
                        <!-- post-author-->
                        <div class="post-author">
                            <div class="author-img">
                                <img alt='' src="@Model.AuthorAvatar">
                            </div>
                            <div class="author-content">
                                <h5><a href="/blog/author/@Model.AuthorUsername">@Model.AuthorName</a></h5>
                                <p>@Model.AuthorDescription</p>
                                <div class="team-single-social fl-wrap">
                                    <span>Follow : </span>
                                    <ul>
                                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!--post-author end-->
                        <div id="comments" class="single-post-comm">
                            <!--title-->
                            <h6 id="comments-title">Comments <span>(@Model.Comments.Count())</span></h6>
                            <ul class="commentlist clearafix">
                                @foreach (var cmt in Model.Comments)
                                {
                                    <li class="comment">
                                        <div class="comment-body">
                                            <div class="comment-author">
                                                <img alt='' src='@cmt.Avatar' width="50" height="50">
                                            </div>
                                            <cite class="fn"><a href="#">@cmt.Name</a></cite>
                                            <div class="comment-meta">
                                                <h6><a href="#">@cmt.CreatedDate.ToString("MMMM dd, yyyy") at @cmt.CreatedDate.ToString("hh:mm tt")</a> / <a class='comment-reply-link' href="#">Reply</a></h6>
                                            </div>
                                            <p>@cmt.Content</p>
                                        </div>
                                    </li>
                                }
                            </ul>
                            <div class="clearfix"></div>
                            <div id="respond" class="clearafix">
                                <h6 id="reply-title">Leave A Review</h6>
                                <div class="comment-reply-form clearfix">
                                    <form id="add-comment" class="add-comment custom-form">
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label><i class="fal fa-user"></i></label>
                                                    <input type="text" placeholder="Your Name *" value="" />
                                                </div>
                                                <div class="col-md-6">
                                                    <label><i class="fal fa-envelope-open"></i></label>
                                                    <input type="text" placeholder="Email Address*" value="" />
                                                </div>
                                            </div>
                                            <textarea cols="40" rows="3" placeholder="Your Comment:"></textarea>
                                        </fieldset>
                                        <button class="btn flat-btn color-btn">Submit Comment</button>
                                    </form>
                                </div>
                            </div>
                            <!--end respond-->
                        </div>
                        <!--comments end -->
                    </div>
                    <!-- blog-sidebar  -->
                    <div class="col-md-4">
                        <div class="blog-sidebar fl-wrap fixed-bar">
                            <!-- widget-wrap -->
                            <div class="widget-wrap fl-wrap">
                                <h4 class="widget-title"><span>01.</span> Our Fanpage</h4>
                                <div class="widget-container fl-wrap">
                                    <div class="fb-page" data-href="https://www.facebook.com/BLACKCrewNeverSurrender/" data-tabs="" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                        <blockquote cite="https://www.facebook.com/BLACKCrewNeverSurrender/" class="fb-xfbml-parse-ignore">
                                            <a href="https://www.facebook.com/BLACKCrewNeverSurrender/">ＫＸＧＥ Presents BLΛƆK Crew</a>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <!-- widget-wrap end  -->
                            <!-- widget-wrap -->
                            <div class="widget-wrap fl-wrap">
                                <h4 class="widget-title"><span>02.</span> Last Posts</h4>
                                <div class="widget-container fl-wrap">
                                    <div class="widget-posts fl-wrap">
                                        <ul>
                                            @foreach (var lp in Model.LastPosts)
                                            {
                                                <li class="clearfix">
                                                    <a href="#" class="widget-posts-img"><img src="@lp.ImageLink" class="respimg respimg-blog-49" alt=""></a>
                                                    <div class="widget-posts-descr">
                                                        <a href="#" title="">@lp.Title</a>
                                                        <span class="widget-posts-date"> @lp.CreatedDate.ToString("dd MMM yyyy") </span>
                                                    </div>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- widget-wrap end  -->
                            <!-- widget-wrap -->
                            <div class="widget-wrap fl-wrap">
                                <h4 class="widget-title"><span>03.</span> Tags</h4>
                                <div class="widget-container fl-wrap">
                                    <ul class="tagcloud">
                                        @foreach (var tag in Model.Tags)
                                        {
                                            <li><a href='/blog/tag/@tag' class="transition link">@tag</a></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <!-- widget-wrap end  -->
                            <!-- widget-wrap -->
                            <div class="widget-wrap fl-wrap">
                                <h4 class="widget-title"><span>04.</span>Our Instagram</h4>
                                <div class="widget-container fl-wrap">
                                    <div class='jr-insta-thumb' id="insta-content" data-instatoken="3980752.1677ed0.62bb6a2ad3ef4dc0a6aad768ab8939ab">
                                    </div>
                                </div>
                            </div>
                            <!-- widget-wrap end  -->
                            <!-- widget-wrap -->
                            <div class="widget-wrap fl-wrap">
                                <h4 class="widget-title"><span>05.</span> Categories</h4>
                                <div class="widget-container fl-wrap">
                                    <ul class="cat-item">
                                        @foreach (var cat in Model.CategoriesNav.OrderByDescending(x => x.PostCount))
                                        {
                                            <li><a href="/blog/cat/@cat.Id">@cat.Name</a> <span>(@cat.PostCount)</span></li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <!-- widget-wrap end  -->
                        </div>
                    </div>
                    <!-- blog-sidebar end -->
                    <div class="limit-box fl-wrap"></div>
                </div>
                <!-- content-nav -->
                <div class="content-nav">
                    <ul>
                        <li><a href="blog.html" class="ln"><i class="fal fa-arrow-left"></i><span class="tooltip">Prev - page 1</span></a></li>
                        <li>
                            <span class="cur-page"><span>Page 2</span></span>
                        </li>
                        <li><a href="blog.html" class="rn"><i class="fal fa-arrow-right"></i><span class="tooltip">Next - page 2 </span></a></li>
                    </ul>
                </div>
                <!-- content-nav end-->
            </div>
            <!-- blog-container end    -->
        </div>
        <div class="bg-parallax-module" data-position-top="50" data-position-left="20" data-scrollax="properties: { translateY: '-250px' }"></div>
        <div class="bg-parallax-module" data-position-top="40" data-position-left="70" data-scrollax="properties: { translateY: '150px' }"></div>
        <div class="bg-parallax-module" data-position-top="80" data-position-left="80" data-scrollax="properties: { translateY: '350px' }"></div>
        <div class="bg-parallax-module" data-position-top="95" data-position-left="40" data-scrollax="properties: { translateY: '-550px' }"></div>
        <div class="sec-lines"></div>
    </section>
    <!-- section end-->
    <!-- section-->
    <section class="dark-bg2 small-padding order-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h3>Ready To order Your Project ?</h3>
                </div>
                <div class="col-md-4"><a href="contscts.html" class="btn flat-btn color-btn">Get In Touch</a> </div>
            </div>
        </div>
    </section>
    <!-- section end-->
</div>
<!-- Content end -->

@section Scripts {
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v9.0&appId=449245312768740&autoLogAppEvents=1" nonce="Fx8ldU9x"></script>
    <style>
        .comment-author img {
            object-fit: cover;
        }
    </style>
    <script>$("#wrapper").addClass("single-page-wrap");</script>
}